---

---

<footer>Made by <a href="https://sitcon.org" target="_blank">SITCON</a> with ❤️</footer>

<style is:global>
	footer {
		margin-top: 2rem;
		text-align: center;
		color: #7e7e7e;
	}
</style>
