---
// MyComponent.astro
---

<div class="confirm">
	<div class="confirm-container">
		<div id="close">x</div>
		<slot />
	</div>
</div>

<style>
	.confirm {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #ffffff29;
		backdrop-filter: blur(20px);
		--webkit-backdrop-filter: blur(20px);
		padding-top: 10rem;
		opacity: 0;
		pointer-events: none;
		transition: opacity 0.3s ease-in-out;
	}

	@media (prefers-color-scheme: dark) {
		.confirm {
			background-color: #00000029;
		}
	}

	.confirm.confirming {
		opacity: 1;
		pointer-events: all;
	}

	.confirm .confirm-container {
		max-width: 800px;
		margin: auto;
		padding: 2rem;
		position: relative;
	}

	#close {
		position: absolute;
		right: 2rem;
		top: -1rem;
		cursor: pointer;
		font-size: 2rem;
	}
</style>
