---
import * as i18n from "src/i18n";
const lang = i18n.local(Astro.url.pathname);
const t = i18n.t(lang, {
	description: {
		"zh-Hant": "毛哥EM的網站起始模板，使用Astro和Fastify構建。",
		"zh-Hans": "毛哥EM的网站起始模板，使用Astro和Fastify构建。",
		en: "Elvis Mao's Website starter template using Astro and Fastify."
	}
});
---

<div class="ticket">
	<h3>學生票（第一波）</h3>
	<p>報名時間：1/21-2/24</p>
	<p class="remain">剩於 10/200</p>
</div>

<style>
	.ticket {
		border: solid 3px var(--black);
		padding: 1rem;
		margin: 2rem auto;
		max-width: 350px;
		transform: rotate(1.17deg);
		transition: scale 0.3s ease;
		cursor: pointer;
	}

	.ticket:hover {
		scale: 1.05;
	}

	.remain {
		text-align: right;
	}
</style>
