---
import * as i18n from "src/i18n";
import { Copy } from "@lucide/astro";
const lang = i18n.local(Astro.url.pathname);
const t = i18n.t(lang, {
	description: {
		"zh-Hant": "毛哥EM的網站起始模板，使用Astro和Fastify構建。",
		"zh-Hans": "毛哥EM的网站起始模板，使用Astro和Fastify构建。",
		en: "Elvis Mao's Website starter template using Astro and Fastify."
	}
});
---

<section>
	<h2>你已完成報名！</h2>
	<p>歡迎使用以下優惠碼邀請朋友一起參加：</p>
	<div class="code"><div id="code">ABCDEFG</div><Copy size="18" /></div>
</section>
<h2 id="select">請選擇你要的票種</h2>

<style>
	section {
		border: solid 3px var(--black);
		padding: 1rem;
		margin: 1rem;
		text-align: center;
	}
	.code {
		background-color: #eee;
		padding: 0.5rem;
		max-width: 10rem;
		margin: 1rem auto 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;
	}

	#code {
		text-align: center;
		flex: 1;
	}

	.lucide-copy {
	}

	section h2 {
		font-size: 1.5rem;
		margin-bottom: 0.5rem;
	}

	#select {
		font-size: 1rem;
		margin-top: 2rem;
		text-align: center;
		font-weight: normal;
		animation: blink 1s infinite linear alternate;
		opacity: 0.8;
	}

	@keyframes blink {
		to {
			opacity: 0.1;
		}
	}
</style>
