---
// No props needed for slot content
---

<div class="description">
	<slot />
</div>

<style>
	.description {
		margin: 1rem 0;
		padding: 1rem;
		background-color: #464646;
		border-left: 3px solid #007acc;
		font-size: 0.9rem;
		line-height: 1.4;
	}
</style>
